{% extends "layout.html" %}
{% set active_page = "log" %}

{% block title %}Log{% endblock %} {% block content%}


<div class="page-header">
        <div class="page-title">
                Guest Log
        </div>
</div>
<!-- <div class="row d-print-none">
        <div class="col-12">
                <div class="card">
                        <div class="card-body">
                                <div class="row">
                                        <div class="col-12 col-sm-6 my-auto card-title">
                                                {{date.strftime('%A %d %B %Y') }}
                                        </div>

                                        <div class="col-12 col-sm-6">

                                                <form method="POST" action="#" class="form-inline">
                                                        <button type="button" onclick="window.print()" class="btn btn-outline-dark d-none d-sm-none d-lg-block"><i
                                                                        class="fe fe-printer"></i></button>
                                                        <input type="date" name="date" id="date" required class="form-control datepicker m-2">
                                                        <button type="submit" class="btn btn-outline-primary">
                                                                <i class='fe fe-calendar'></i> Change Date

                                                        </button>
                                                        <a name="" id="" class="btn btn-primary ml-2 mr-2" href="{{ url_for('log.create', date=date)}}"
                                                                role="button"><i class="fe fe-plus"></i>
                                                                Create new entry</a>
                                                </form>
                                        </div>
                                </div>
                        </div>
                </div>

        </div>
</div> -->

<div class="row">

        <div class="col-12 col-sm-4 d-print-none">
                <div class="card">
                        <div class="card-header font-weight-bold ">
                                <span class="bounce animated">
                                        <i class="fe fe-calendar pr-2"></i>{{date.strftime('%A %d %B %Y') }}
                                </span>
                        </div>
                        <div class="card-body d-block d-sm-none">
                                <a href="{{url_for('log.create', date=date)}}" class="btn btn-primary btn-block">Create
                                        Entry</a>
                        </div>
                </div>
                <div class="card d-none d-sm-block d-print-none">
                        <div class="card-header">
                                <div class="card-title">Options</div>
                        </div>
                        <div class="card-body">
                                <form method="POST" action="#" class="form-inline">
                                        <button type="button" onclick="window.print()" class="btn btn-outline-dark d-none d-sm-none d-lg-block"><i
                                                        class="fe fe-printer"></i> Print Log</button>

                                        <a name="" id="" class="btn btn-primary ml-2 mr-2" href="{{ url_for('log.create', date=date)}}"
                                                role="button"><i class="fe fe-plus"></i>
                                                Create new entry</a>
                                </form>
                        </div>
                </div>
                <div class="card d-none d-sm-block d-print-none">
                        <div class="card-header">
                                <div class="card-title">
                                        Change date
                                </div>
                        </div>
                        <div class="card-body">
                                <form class="form-inline" action="{{url_for('log.pick_log_date')}}">
                                        <input type="date" name="date" id="date" required class="form-control datepicker">
                                        <button id="goToDate" type="submit" class="btn btn-outline-primary ml-2">
                                                <i class='fe fe-calendar'></i> Go to date</button>
                                        <div id="dateLoader" class="loader mx-auto mt-2 d-none"></div>
                                </form>
                        </div>

                </div>
                <div class="card d-none d-sm-block d-print-none">
                        <div class="card-header">
                                <div class="card-title">Sort</div>
                        </div>
                        <div class="card-body">
                                <style>
                                        .filterDiv {
                                                display: none;
                                        }

                                        .show {
                                                display: block;
                                        }
                                </style>
                                <div id="myBtnContainer">
                                        <button class="btn btn-sm btn-primary btn-block" onclick="filterSelection('all')">Show
                                                all</button>
                                        <button class="btn btn-outline-dark btn-sm  mt-3" onclick="filterSelection('Atrium')">Atrium</button>
                                        <button class="btn btn-outline-dark btn-sm  mt-3" onclick="filterSelection('Restaurant')">Restaurant</button>
                                        <button class="btn btn-outline-dark btn-sm  mt-3" onclick="filterSelection('Library')">Library</button>
                                        <button class="btn btn-outline-dark btn-sm  mt-3" onclick="filterSelection('Housekeeping')">Housekeeping</button>
                                        <button class="btn btn-outline-dark btn-sm  mt-3" onclick="filterSelection('Spa')">Spa</button>
                                        <button class="btn btn-outline-dark btn-sm  mt-3" onclick="filterSelection('Reception')">Reception</button>
                                        <button class="btn btn-outline-dark btn-sm  mt-3" onclick="filterSelection('Maintenance')">Maintenance</button>
                                        <button class="btn btn-outline-dark btn-sm  mt-3" onclick="filterSelection('Miscellaneous')">Miscellaneous</button>
                                        <button class="btn btn-outline-dark  btn-sm mt-3" onclick="filterSelection('Kitchen')">Kitchen</button>
                                </div>

                        </div>
                </div>
        </div>

        <div class="col-12 col-sm-8">
                {% if posts|length == 0 %}
                <div class="card">
                        <div class="card-body">
                                <i class="text-danger fe fe-x-square"></i> There are no entries for
                                date specified
                        </div>
                </div>
        </div>
        {%endif%}
        <div class="posts">
                {% for post in posts|reverse %}
                <div id="{{post.id}}" class="card card-collapse  mb-2 fadeIn animated filterDiv {{post.department}}">
                        <div>
                                {%if post.sentiment == "Positive"%}
                                <div class="card-status card-status-left bg-green"></div>
                                {%endif%}

                                {% if post.sentiment == "Negative"%}
                                <div class="card-status card-status-left bg-red"></div>
                                {%endif%}

                                {%if post.sentiment == "Neutral"%}
                                <div class="card-status card-status-left bg-warning"></div>
                                {%endif%}

                                <div class="card-body d-flex">
                                        <div class="d-block pr-5">

                                                <h6>{{post.department}}</h6>
                                                <p>{{post.body}}</p>
                                        </div>
                                        <div class="card-options d-print-none">
                                                <span class="author">{{post.author.nickname}}</span>
                                                <a data-toggle="collapse" href="#cardFooter{{post.id}}" role="button"
                                                        aria-expanded="false" aria-controls="cardFooter{{post.id}}"><i
                                                                class="font-weight-bold fe fe-chevron-down"></i></a>
                                                {% if current_user.admin or post.author.id == current_user.id%}
                                                <div class="dropdown">
                                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                                <a id="delete" onclick='deletePost({{post.id}})' href="{{url_for('log.delete', post_id=post.id)}}"
                                                                        class="dropdown-item d-flex btn text-danger">
                                                                        <span><i class="fe fe-thumbs-up"></i> Confirm
                                                                                Delete</span>
                                                                </a>
                                                        </div>
                                                        <a href="#" data-toggle="dropdown"><i class="fe fe-trash"></i></a>
                                                </div>
                                                {%endif%}

                                                <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                                class="fe fe-maximize"></i></a>

                                        </div>
                                </div>
                                <div class="collapse d-print-block" id="cardFooter{{post.id}}">
                                        {% if post.resolution or post.cost %}
                                        <div class="card-footer">
                                                <div class="row">
                                                        {% if post.resolution %}
                                                        <div class="col-12">
                                                                <div class="h6">Resolution</div>
                                                                <div class="mb-4">{{post.resolution}}</div>
                                                                {% if post.cost %}
                                                                <div class="h6">Resolution Cost</div>
                                                                <div class="mb-4">{{post.cost}}</div>
                                                                {%endif%}
                                                        </div>
                                                        {%endif%}
                                                </div>

                                        </div>
                                        {% endif %}
                                        {% if post.guest_name%}
                                        <div class="card-footer text-justify">


                                                <div class="row">
                                                        {% if post.guest_name%}
                                                        <div class="col-4">
                                                                <div class="h6">Guest name</div>
                                                                <div class="font-weight-bold mb-4">{{post.guest_name}}</div>
                                                        </div>
                                                        {%endif%}
                                                        {% if post.arrival_date %}
                                                        <div class="col-4">
                                                                <div class="h6">Arrival date</div>
                                                                <div class="font-weight-bold mb-4">{{post.arrival_date.strftime('%d-%m-%Y')}}</div>
                                                        </div>
                                                        {%endif%}
                                                        {%if post.guest_room%}
                                                        <div class="col-4">
                                                                <div class="h6">Guest Room #</div>
                                                                <div class="font-weight-bold mb-4">{{post.guest_room}}</div>
                                                        </div>
                                                        {%endif%}
                                                </div>

                                        </div>
                                        {%endif%}
                                        {% if comments|count > 0%}
                                        <table class="table card-table border-top">
                                                {% for comment in comments %}
                                                {% if comment.post == post.id %}
                                                <tr>
                                                        <td>
                                                                <i class="fe fe-message-circle"></i> {{comment.body}}
                                                        </td>
                                                        <td class="text-right small">
                                                                {{comment.post_comment_author.nickname}} <br> <i class="fe fe-calendar"></i> {{comment.timestamp.strftime('%d %B %Y') }}
                                                        </td>
                                                        
                                                </tr>
                                                {% endif %}

                                                {% endfor %}
                                        </table>
                                        {% endif %}
                                        <div class="card-footer text-right d-print-none">
                                                <form action="{{ url_for('log.comment', post_id=post.id) }}" method="POST"
                                                        class="form-group">
                                                        {{ form.csrf_token }}
                                                        {{form.body(class="form-control")}}
                                                        <button type=submit class="btn btn-azure btn-sm mt-2"><span
                                                                        class="fe fe-message-circle" title="Submit"></span>Add
                                                                Comment</button>
                                                </form>
                                        </div>
                                </div>


                        </div>

                </div>
                {%endfor%}
        </div>
</div>
</div>
</div>
</div>
</div>
<script>
        filterSelection("all")
        function filterSelection(c) {
                var x, i;
                x = document.getElementsByClassName("filterDiv");
                if (c == "all") c = "";
                for (i = 0; i < x.length; i++) {
                        w3RemoveClass(x[i], "show");
                        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
                }
        }
        function w3AddClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                        if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
                }
        }

        function w3RemoveClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                        while (arr1.indexOf(arr2[i]) > -1) {
                                arr1.splice(arr1.indexOf(arr2[i]), 1);
                        }
                }
                element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                        var current = document.getElementsByClassName("active");
                        current[0].className = current[0].className.replace(" active", "");
                        this.className += " active";
                });
        }
</script>
{%endblock%}