{% extends "layout.html" %}
{% set active_page = "log" %}
{% block title %}Log {% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content%}

<div class="page-header">
    <div class="page-title">
        Create Entry
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-4">
        <div class="card">
            <div class="card-header font-weight-bold">
                <i class="fe fe-calendar pr-2"></i>{{date.strftime('%A %d %B %Y') }}
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-title">Legend</div>
            </div>
            <div class="card-body p-0">
                <ul class="list-group">
                    <li class="list-group-item"><span class="font-weight-bold">Sentiment</span><br> Is the entry
                        positive/negative/neutral?<br>
                    <li class="list-group-item"><span class="font-weight-bold">Department</span><br>The department the
                        entry is about.</li>
                    <li class="list-group-item"><span class="font-weight-bold">Resolution</span><br>If the entry is
                        resolved, describe the resolution.</li>
                    <li class="list-group-item"><span class="font-weight-bold">Cost</span><br>If the resolution
                        incurred a cost, how much?</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-8">
        <div class="card">
            <div class="card-header">
                New log entry
            </div>
            <div class="card-body">
                <form id="form" class="form-group" action="{{url_for('log.create', date=date)}}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-row">
                        <div class="col">

                            {{form.department.label}}
                            {{form.department(id="entryDepartment", class_="form-control", data_toggle="tooltip",
                            data_placement="right",
                            title="The department the entry is about, not yours")}}
                            <span id="departmentHelp" class="small form-text text-muted pb-2">Please select the
                                department
                                the entry is about.</span>
                        </div>
                        <div class="col">
                            {{form.sentiment.label}}
                            {{ form.sentiment(id="entrySentiment", class_="form-control border-warning"
                            ,data_toggle="tooltip",
                            data_placement="right",
                            title="Does this entry have a positive, negative or neutral sentiment?") }}
                            <small id="sentimentHelp" class="form-text text-muted">Please select the sentiment the
                                entry is about.</small>
                        </div>
                    </div>
                    <div class="row mb-5 text-dark">
                        <div class="col">
                            <div class="collapse mb-2" id="addGuestDiv">
                                <div class="row">
                                    <div class="col">
                                        {{form.guest_name.label}}
                                        {{ form.guest_name(id="guestName", class_="form-control") }}
                                    </div>
                                    <div class="col">
                                        {{form.guest_room.label}}
                                        {{form.guest_room(id="entryArrivalDate", class_="form-control datepicker")}}
                                    </div>
                                    <div class="col">
                                        {{form.arrival_date.label}}
                                        {{form.arrival_date(id="entryArrivalDate", class_="form-control datepicker")}}
                                    </div>
                                    <div class="col-1 mt-auto mb-0">
                                        <i class="fe fe-user-plus mx-auto h1"></i>
                                    </div>
                                </div>
                            </div>
                            <span class="btn btn-azure btn-sm mb-2 float-right d-inline" data-toggle="collapse" data-target="#addGuestDiv">
                                    <i class="fe fe-user-plus"></i>Add Guest Details</span>
                            {{form.body.label}}
                            {{form.body(id="logBody", class_="form-control", placeholder="Enter your log here...")}}
                            <small id="bodyHelp" class="form-text text-muted">As much detail as possible, please.</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            {{form.resolution.label}}
                            {{form.resolution(class_='form-control', placeholder="If your entry has a resolution, enter here...")}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"> Resolution {{form.cost.label}}

                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">£</span>
                                {{form.cost(aria_describedby="basic-addon1", class='form-control')}}

                            </div>
                        </div>
                        <div class="col text-right mt-4">
                                {{form.submit(class_="btn btn-lg btn-success shadow")}}
                            </div>
                    </div>
                    <div class="row">
                    
            </div>
        </div>
    </div>
</div>

</div>
</div>
{%endblock%}