{% extends "layout.html" %} {% block title %}Search{% endblock %} {% block head %} {{ super() }} {% endblock %} {%block
content%}
<div class="col-8">
<div class="card">
    <div class="card-header">
        Edit Room {{room}}
    </div>
    <div class="card-body">


        <form class="form-group" action="{{ url_for('room.edit', room_number=room) }}" method="post" novalidate>

            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-6">
                    {{form.view.label}}
                    {{form.view(class_="form-control")}}
                </div>
                <div class="col-6">
                    {{form.floor.label}}
                    {{form.floor(class="form-control")}}
                </div>
                <div class="col-6">
                    {{form.size.label}}
                    {{form.size(class="form-control")}}
                </div>
                <div class="col-6">
                    {{form.room_type.label}}
                    {{form.room_type(class_="form-control")}}
                </div>

            </div>
            <div class="row">
                <div class="col-6 p-5 mr-auto">
                    <label class="custom-control custom-checkbox">
                        {{form.desk(class="custom-control-input")}}
                        <span class="custom-control-label">
                            {{form.desk.label}}
                        </span>
                    </label>

                    <label class="custom-control custom-checkbox ">
                        {{form.desk(class="custom-control-input")}}
                        <span class="custom-control-label">
                            {{form.desk.label}}
                        </span>
                    </label>

                    <label class="custom-control custom-checkbox ">
                        {{form.desk(class="custom-control-input")}}
                        <span class="custom-control-label">
                            {{form.desk.label}}
                        </span>
                    </label>
                    <label class="custom-control custom-checkbox ">
                            {{form.desk(class="custom-control-input")}}
                            <span class="custom-control-label">
                                {{form.desk.label}}
                            </span>
                        </label>
                        <label class="custom-control custom-checkbox ">
                                {{form.desk(class="custom-control-input")}}
                                <span class="custom-control-label">
                                    {{form.desk.label}}
                                </span>
                            </label>
           
                        <label class="custom-control custom-checkbox ">
                                {{form.desk(class="custom-control-input")}}
                                <span class="custom-control-label">
                                    {{form.desk.label}}
                                </span>
                            </label>
                            <label class="custom-control custom-checkbox ">
                                    {{form.desk(class="custom-control-input")}}
                                    <span class="custom-control-label">
                                        {{form.desk.label}}
                                    </span>
                                </label>
                                <label class="custom-control custom-checkbox ">
                                        {{form.desk(class="custom-control-input")}}
                                        <span class="custom-control-label">
                                            {{form.desk.label}}
                                        </span>
                                    </label>
                                    <label class="custom-control custom-checkbox ">
                                            {{form.desk(class="custom-control-input")}}
                                            <span class="custom-control-label">
                                                {{form.desk.label}}
                                            </span>
                                        </label>
                                        <label class="custom-control custom-checkbox ">
                                                {{form.desk(class="custom-control-input")}}
                                                <span class="custom-control-label">
                                                    {{form.desk.label}}
                                                </span>
                                            </label>

                </div>
            </div>


        </form>
    </div></div>
</div>
{% endblock %}