{% extends "layout.html" %}
{% set active_page = "search" %}
{% block title %}Search{% endblock %} {% block head %} {{ super() }} {% endblock %}
{%block content%}
<div class="page-header">
  <div class="page-title">
    Room information
  </div>
</div>
<div class="row">

  <div class="col-12 col-sm-4">
    <div class="card">
      <div class="card-header h1 font-weight-bold p-5">
      <span class="bounce animated">Room {{room.id}}</span> 
        <div class="card-options pt-5 pb-5">
          <a role="button" href="{{ url_for('room.edit', room_number=room.id) }}" class="btn btn-outline-primary btn-sm"> <i class="fe fe-edit"></i> Edit room</a>
        </div>
      </div>
      <!-- <div class="card-footer">
          AKA Teulon
        </div> -->
    </div>
    <div id="newNote" class="collapse">
      <div class="card shadow">
        <div class="card-status card-status-left bg-success"></div>
        <div class="card-header">
          <div class="card-title">New note</div>
        </div>
        <div class="card-body">
          <form class="pb-5" action="{{ url_for('room.add_note', room_number=room.id) }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.body.label }}
            {{ form.body(class="form-control") }}
            <button type="submit" class="btn btn-primary btn-sm btn-block pull-right mt-3">Submit</button>
          </form>

        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {%for cat, msg in messages%}
      <div class="card">
        <div class="card-body text-center">
         <i class="fe fe-thumbs-up"></i> {{msg}}
        </div>
      </div>
      {%endfor%}
      {% endif %}
      {% endwith %}

    <div id="roomNotes" class="card">
      <div class="card-header">
        <div class="card-title">Room notes </div>
        <div class="card-options">
          <a name="" id="" data-toggle="collapse" class="btn btn-outline-primary btn-sm ml-3" href="#newNote" role="button"
            aria-expanded="false" aria-controls="newNote">
            <i class="fe fe-plus"></i>
            Add room note
          </a>
          <a href="#" class="card-options-collapse" data-toggle="card-collapse">
            <i class="fe fe-chevron-up btn btn-outline-primary btn-sm"></i></a>
        </div>
      </div>
      <table class="table card-table">
        <tbody>
          {% if notes %}
          {% for note in notes|reverse%}
          <tr>
            <td width="1"><i class="fe fe-message-square text-muted" aria-hidden="true"></i>
            </td>
            <td>{{note.body}}</td>
            <td class="small text-muted text-right">{{note.room_note_author.nickname}} <i class="fe fe-more-vertical"></i>

            </td>
          </tr>
          {%endfor%}
          {%else%}
          <tr>
            <td>
              There are no notes about this room.
            </td>
          </tr>
          {%endif%}
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-sm-8">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body text-center">
            <div class="h5">Connecting</div>
            <div class="h2 font-weight-bold mb-4">{%if room.connecting%}Yes{%else%}No{%endif%}</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body text-center">
            <div class="h5">Zip & Link</div>
            <div class="h2 font-weight-bold mb-4">{%if room.zip_link%}Yes{%else%}No{%endif%}</div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body text-center">
            <div class="h5">Sofa bed</div>
            <div class="h2 font-weight-bold mb-4">{%if room.sofa_bed%}Yes{%else%}No{%endif%}</div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-body text-center">
            <div class="h5">View from room</div>
            <div class="h2 font-weight-bold mb-4">{{room.view}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Room Inventory
        </div>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-4">
            <h2 class="mb-1"><i class="mdi mdi-trending-down text-danger"></i>{% if room.armchair%} <i class="fe fe-check text-success"></i>
              {%else%} <i class="fe fe-x text-danger"></i>{%endif%}</h2>
            <div class="text-muted-dark">Armchair</div>
          </div>
          <div class="col-4">
            <h2 class="mb-1"><i class="mdi mdi-trending-up text-success"></i>{% if room.bathroom_windows %} <i class="fe fe-check text-success"></i>
              {%else%} <i class="fe fe-x text-danger"></i>{%endif%}</h2>
            <div class="text-muted-dark">Bathroom Windows</div>
          </div>
          <div class="col-4">
            <h2 class="mb-1"><i class="mdi mdi-trending-up text-success"></i>{% if room.coffee_table %} <i class="fe fe-check text-success"></i>
              {%else%} <i class="fe fe-x text-danger"></i>{%endif%}</h2>
            <div class="text-muted-dark">Coffee Table</div>
          </div>
        </div>
        <div class="row text-center mt-5">
          <div class="col-4">
            <h2 class="mb-1"><i class="mdi mdi-trending-down text-danger"></i>{% if room.desk%} <i class="fe fe-check text-success"></i>
              {%else%} <i class="fe fe-x text-danger"></i>{%endif%}</h2>
            <div class="text-muted-dark">Desk</div>
          </div>
          <div class="col-4">
            <h2 class="mb-1"><i class="mdi mdi-trending-up text-success"></i>{% if room.fridge %} <i class="fe fe-check text-success"></i>
              {%else%} <i class="fe fe-x text-danger"></i>{%endif%}</h2>
            <div class="text-muted-dark">Fridge</div>
          </div>
          <div class="col-4">
            <h2 class="mb-1"><i class="mdi mdi-trending-up text-success"></i>{% if room.full_mirror %} <i class="fe fe-check text-success"></i>
              {%else%} <i class="fe fe-x text-danger"></i>{%endif%}</h2>
            <div class="text-muted-dark">Full Length Mirror</div>
          </div>
        </div>
        <div class="row text-center mt-5">
          <div class="col-4">
            <h2 class="mb-1"><i class="mdi mdi-trending-down text-danger"></i>{% if room.roll_bath%} <i class="fe fe-check text-success"></i>
              {%else%} <i class="fe fe-x text-danger"></i>{%endif%}</h2>
            <div class="text-muted-dark">Roll Top Bath</div>
          </div>
          <div class="col-4">
            <h2 class="mb-1"><i class="mdi mdi-trending-up text-success"></i>{% if room.shower_bath %} <i class="fe fe-check text-success"></i>
              {%else%} <i class="fe fe-x text-danger"></i>{%endif%}</h2>
            <div class="text-muted-dark">Shower over bath</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Room images
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          {% if images %}
          {% for image in images%}
          <a href="{{ url_for( 'static', filename='uploads/' + image ) }}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img class="img-fluid rounded" src="{{ url_for( 'static', filename='uploads/' + image ) }}" alt="">
          </a>
          {%endfor%}
          {%else%}
          There are no images.
          {%endif%}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="page-header">
  <div>
  <div class="page-title">
      Room {{ room.id }}
  </div>
  <div class="page-description">
    {{floor}}
  </div>
</div>
</div>
<div class="row text-center">
    <div class="col-12 col-sm-4">
        <div class="card">
          <div class="card-body">
            <h1>Room {{room.id}}</h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-8">
          <div class="card">
            <div class="card-body">
              <h4>{{room.size}}</h3>
                <span class="text-muted">Room Size</span>

            </div>
          </div>
        </div>
        {%if room_name%}
        <div class="col-12 col-sm">
            <div class="card">
              <div class="card-body">
                <h4>{{room.room_name}}</h3>
                  <span class="text-muted">Room Name</span>
  
              </div>
            </div>
          </div>
          {%endif%}
        <div class="col-12 col-sm-6">
            <div class="card">
              <div class="card-body">
                <h4>{{room.view}}</h3>
                  <span class="text-muted">Room View</span>
              </div>
            </div>
          </div>
</div>

<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Room Notes
        </div>
      </div>
      <table class="table card-table">
        <tbody>
          {% if notes %}
          {% for note in notes %}
          <tr>
            <td>{{note.body}} 
              <div class="float-right">{{note.room_note_author.nickname}} 
              {%if current_user.admin %} <i class="fa fa-trash text-danger" aria-hidden="true"></i>{%endif%}
              
              
            </div></td>
          </tr>
          {%endfor%}
          {%else%}
          <tr>
            <td>There are no notes about this room.</td>
          </tr>
          {%endif%}
        </tbody>
      </table>
      <div class="card-footer">
        <a class="btn btn-outline-primary btn-sm float-right" href="{{ url_for('room.add_note', room_number=room.id) }}" role="button">Add note</a>
      </div>
    </div>
  </div>
</div> -->

{% endblock %}