{% extends "layout.html" %}
{% set active_page = "search" %}

{% block title %}Search{% endblock %}
{% block head %} {{ super() }} {% endblock %} {%block content%}
<div class="page-header">
    <h1 class="page-title">
        Room search
    </h1>

</div>
<div class="row">
    <div class="col-12 col-sm-6">
        <div class="card mx-auto">
            <div class="card-body">
                <form class="form-inline" action="{{ url_for('room.search') }}" method="post">

                    <input id="room" placeholder="Room number.." class="form-control mr-5" type="text" name="Room"
                        autocomplete="off" />
                    <button class="btn btn-primary m-2">
                        <input type="button" name="submit" style="display: none;">
                        <i class="fa fa-search"></i> Search
                    </button>

                    <!-- <button class="btn btn-info m-2 form-inline d-none d-sm-block">
                        <input type="button" name="print" style="display: none;">
                        <i class="fa fa-print"></i> Print
                    </button> -->

                </form>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {%for cat, msg in messages%}

                <div class="text-danger font-weight-bold h4 pt-5">
                    <i class="fe fe-alert-triangle"></i> {{ msg }}
                </div>

                {%endfor%}
                {% endif %}
                {% endwith %}
            </div>
        </div>


    </div>

</div>
<div class="row">
    <div class="col-12 col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Interconnecting rooms
                </div>
            </div>
            <table class="table card-table">
                <tbody>
                    {% for room in rooms%}
                    {% if room.connecting %}
                    <tr>
                        <td width="1"><i class="fa fa-bed text-muted" aria-hidden="true"></i>
                        </td>
                        <td>Room {{room.id}}</td>
                    </tr>
                    {%endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 col-lg-8">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Rooms with Sofabeds
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    {% for room in rooms %}
                        {% if room.sofa_bed %}
                        <div class="col-4 p-3 border">
                        <a href="{{url_for('room.room', room_number=room.id)}}" class="text-dark">
                        
                           <i class="fa fa-bed text-muted mr-3" aria-hidden="true"></i> Room {{room.id}}
                        </a> 
                        </div>
                    
                        {%endif%}
                    

                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}