{% extends "layout.html" %} {% block title %}Upload Image{% endblock %} {% block head %} {{ super() }} {% endblock %} {%
block content%}
<style>
    *:focus {
        outline: none;
    }

    .uploader {
        /* color:white; */
        border: solid 2px black;
    }

    input[type="file" i] {
        color: black;
        padding: 50px;
    }
</style>
<div class="container-fluid bg-dark text-light pb-5">
    <div class="row">

        <div class="col"></div>

        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-6">
            <h1 class="display-4 text-center pt-4">Upload Images</h1>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8 col-sm-12 mt-5">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div id="alert" class="alert alert-success w-100 mt-4 mx-auto text-center">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %} {% endif %} {% endwith %}
            <div class="form-group text-center">
                <form action="{{ url_for('room.images', room_number=room )}}" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }} {{ form.file(class="uploader") }}
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success btn-lg">
                    <a href="{{ url_for('room.room', room_number=room) }}" class="btn btn-primary btn-lg">Go Back</a>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <!-- third column -->
    <div class="text-center pt-5">
        <!-- need to finish this -->
        <span class="display-4">Images</span>
    </div>
    <hr>
    <div class="row mb-5">
        {% if images %} {% for image in images %}

        <!-- <div class="col-12 col-sm-12 col-md-6 p-4">
                        <a href="#" class="btn mx-auto btn-danger">Delete</a>  <img src="{{image}}" onerror="this.src='https://www.lifewire.com/thmb/qLv10Pgd30kCy7OxXacwOWKxZ8M=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/shutterstock_325494917-5a68d8403418c600190a3e1f.jpg'"
                  class="img-thumbnail">
                  
                </div> -->
        <div class="col-md-4 col-12">
            <div class="card">
                <img src="/static/uploads/{{image.file_name}}" onerror="this.src='https://www.lifewire.com/thmb/qLv10Pgd30kCy7OxXacwOWKxZ8M=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/shutterstock_325494917-5a68d8403418c600190a3e1f.jpg'"
                    class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">{{ image.file_name }}</h5>
                    <p>Image ID: {{ image.id}}</p>
                </div>
            </div>
        </div>

            {% endfor %} {% else %}
            <div class="col-12 mb-5 text-center">
                <div class="card">
                    <div class="card-body bg-danger">
                        <h5 class="text-light p-1">There is no images of this room.</h5>
                    </div>
                </div>
            </div>
        
    </div>
    {% endif %} {% endblock %}