<head>
    {% include 'meta.html'%}
</head>
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img src="{{url_for('static', filename='images/devere.jpg')}}" class="h-6" alt="">
                        
                        <div class="text-uppercase">Tortworth Court</div>
                    </div>
                    <form class="card" action="{{url_for('user.register')}}" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="card-body p-6">
                            <div class="card-title">Register
                            </div>
                            <div class="form-group">
                                <label class="form-label">Email address</label>
                                {{ form.email(class="form-control", type="text", placeholder="Email")}}
                                
                                {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                <div class="pt-2 text-danger font-weight-bold">
                                    {{error}}
                                </div>
                                {%endfor%}
                                {%endif%}

                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Password
                                </label>
                                {{ form.password(class="form-control", placeholder="Password")}}
                            </div>
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                <div class="mb-2 text-danger font-weight-bold">
                                    {{error}}
                                </div>
                                {%endfor%}
                                {%endif%}
                            <div class="form-group">
                                <label class="form-label">
                                    Confirm Password
                                </label>
                                {{ form.confirm_password(class="form-control", placeholder="Password")}}
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Job Title
                                </label>
                                {{ form.job_title(class="form-control", placeholder="Password")}}
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Nickname
                                </label>
                                {{ form.nickname(class="form-control", placeholder="Password")}}
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Passcode
                                </label>
                                {{ form.passcode(class="form-control", placeholder="Password")}}
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {%for cat, msg in messages%}

                            <span class="text-danger font-weight-bold">
                                {{ msg }}
                            </span>

                            {%endfor%}
                            {% endif %}
                            {% endwith %}
                            <div class="form-footer">
                                <input class="btn btn-primary btn-block" type="submit" value="Register">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>