{% extends "layout.html" %} {% block title %}Search{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
content%}

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-6 col-sm-12 p-5">
            <h1 class="display-1 text-light text-center">You did it!</h1>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-6 col-sm-12 p-2 text-center">
            <h1 class="display-4 text-dark text-center">Proud of you.</h1>
            <p>
          <h4 class="text-center">Just a heads-up.</h4>
           Password's stored are not encryted or hashed. (stored as string) <br>Also, occasionaly cookies are used. (to handle sessions)<br>For the security concious out there I
                <em>inform</em> you that they are in use. 
                <br>
                <br><h4 class="text-center">But what are cookies?</h5>HTML, the language of the web, is what is referred to as a Stateless Protocol. This just means that no data is saved from one page load to the next. That would make staying logged into a website impossible, if not for cookies.

                A website issues a cookie to your computer when you log-on (or even just visit, based on what they collect) that is saved to your computer. Your browser then sends that cookie with all the future requests it makes to that website. The website gets the cookie value and knows that it's still you on the other side of the connection.
                
                Cookies are what identify you to the website, and they can also store and be used to send data back to the website.
                <br><br>
                <h4>So, what now?</h4>
                Well, if you don't accept use of cookies then you can't use this site. If you do, click the big<del>ish</del> red button below.
                <br><br>
                
                <a href="{{url_for('home')}}" class="pl-5 pr-5 btn btn-danger">Big Red Button</a>
            </p>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}