{% extends "layout.html" %} {% block title %}404: Not found{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
%}
<style>
    .my-div {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;
    }

    .my-div a {
        color: white;
        border: solid 1px white;
        padding: 20px;
        text-decoration: none;
    }

    .my-div a:hover {
        border: solid 4px white;
        padding: 20px;
    }
</style>
<div class="container-fluid p-0">
        <div class="col-12 text-center text-light p-5 bg-dark">
                <h1 class="display-2 w-100">Oops! </h1>
        </div>
</div>
<div class="container">
    <div class="row ">
      
        <div class="col-12 text-center">
        

            
           <h2 class="display-4 pt-4">Internal server error. Woops.</h2>
           <h6>This is being fixed, just be patient.</h6>
                       
                <a href="mailto:sean.thorne@devere.com" class="btn btn-danger">Send Sean an email</a>
                    <br>
            <div class="mx-auto">
                
                    <img class="img-fluid mt-5 mb-5 pt-4" src="https://www.advancedvetcareclinic.com/wp-content/uploads/2017/04/canstockphoto12833335d.png" alt="">
                    </div>
        </div>
    </div>
    {% endblock %}