{% extends "layout.html" %}
{% set active_page = "admin" %}

{% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %}
{% block content %}
<div class="page-header">
    <div class="page-title">
        Admin Panel
    </div>
</div>
<div class="row">

    <div class="col-12 col-sm-4 d-print-none">
        <div class="card">
                <div class="card-header">
                        <div class="card-title">
                               Options
                        </div>
                </div>
            <div class="card-body">
               <a name="" id="" class="btn btn-success btn-block" href="#" role="button">Add User</a>
               <a name="" id="" class="btn btn-azure btn-block" href="#" role="button">Edit Pulse Information</a>
               <a name="" id="" class="btn btn-primary btn-block" href="#" role="button">Add Pulse Announcement</a>
            </div>
        </div>
        <div class="card">
                <div class="card-header">
                        <div class="card-title">
                               Pulse Announcements
                        </div>
                </div>
            <div class="card-body">
              <blockquote>Pulse information</blockquote> 
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-8">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="thead-default">
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Job Title</th>
                                <th>Nickname</th>
                                <th>Admin</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in users %}
                            <tr>
                                <td>{{x.id}}</td>
                                <td>{{x.username}}</td>
                                <td>{{x.job_title}}</td>
                                <td>{{x.nickname}}</td>
                                <td>{{x.admin}}</td>
                                <td><i class="fe fe-edit"></i></td>

                            </tr>{%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}