{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script type="text/javascript">
    $(window).on('load', function () {
        $('#myModal').modal('show');
    });
</script>
{% for category, message in messages %}
{% if category == "warning"%}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content font-weight-bold text-center p-0 text-dark">
            <div class="modal-header text-dark">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body h6">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
                <br>
                <strong class="h1">Head's up!</strong>
                <hr>
                {{message}}
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
{% elif category == "success"%}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content font-weight-bold text-center p-0 text-success">
            <div class="modal-header text-success">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body h6">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
                <br>
                <strong class="h1">Woohoo!</strong>
                <hr>
                {{message}}
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
{%else%}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content font-weight-bold text-center p-0 text-danger">
            <div class="modal-header text-danger">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body h6">
                <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
                <br>
                <strong class="h1">Error</strong>
                <hr>
                {{message}}
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>
{%endif%}


{% endfor %}
{% endif %}
{% endwith %}