<div class="page-wrapper chiller-theme sidebar-bg toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark btn-lg d-print-none" style="  z-index: 1;" href="#">
        <i class="fas fa-bars"></i> Menu
    </a>
    <nav id="sidebar" class="d-print-none sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#"><i class="fas fa-user-tie"></i> Alfred </a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <!-- <div class="user-pic">
                        <img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="User picture">
                    </div> -->
                <div class="user-info">

                    <span class="user-name"><span class="strong">{{ current_user.nickname }}</span></span>
                    <span class="user-role">{{ current_user.job_title }}</span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <form method="POST" action="{{ url_for('room.search') }}" class="class">
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input name="Room" id="Room" type="text" class="form-control search-menu" placeholder="Room Search...">
                            <span class="input-group-append">
                                <button class="input-group-text">
                                    <input type="button" name="submit" style="display: none;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Guest Log</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="far fa-plus-square"></i>
                            <span>Create</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Entry today</a>
                                </li>
                                <!-- <li>
                                        <a href="#">Entry another day</a>
                                    </li> -->
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="far fa-eye"></i>
                            <span>View</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Today's log

                                    </a>
                                </li>
                                <li>
                                    <a href="#">Yesterday's log</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% if current_user.admin %}
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="far fa-chart-bar"></i>
                            <span>Stats</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Overall</a>
                                </li>
                                <li>
                                    <a href="#">Sentiment</a>
                                </li>
                                <li>
                                    <a href="#">Panels</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {%endif%}
                    <li class="header-menu">
                        <span>Room Inventory</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-search"></i>
                            <span>Search</span>
                        </a>
                    </li>
                    <li class="header-menu">
                        <span>Information</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>Where to find?</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-question-circle"></i>
                            <span>What to do?</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-phone"></i>
                            <span>Useful numbers</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-location-arrow"></i>
                            <span>Local Area</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="">History of hotel</a>
                                </li>
                                <li>
                                    <a href="">Walking routes</a>
                                </li>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Things to do</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {%if current_user.admin%}
                    <li class="header-menu">
                        <span>Admin</span>
                    </li>
                    <li>
                        <a href="{{url_for('admin.index')}}">
                            <i class="fas fa-users-cog"></i>
                            <span>Manage Users</span>
                        </a>
                    </li>
                    {%endif%}

                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <div class="dropdown">
                <a href="#" class="" id="dropdownMenuMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
                    <a class="dropdown-item" href="#">My profile</a>
                </div>
            </div>
            <div>
                <a href="{{ url_for('user.logout')}}" data_placement="top" data-toggle="tooltip" title="Click here to logout!">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </div>
    </nav>