<div class="loader text-dark p-5 text-center " style="background-color: #f1f1f1;">
    <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
    <h1 class="ml9">
        <span class="text-wrapper">
            <span class="letters">LOADING</span>
        </span>
    </h1>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>