{% extends "layout.html" %} {% block title %}DM Handbook{% endblock %} {% block head %} {{ super() }} {% endblock %} {%block
content%}
<style>
    a {
        color: #343a40;
    }

    a:hover {
        color: #000000;
        text-decoration: none;
    }

    fas {
        position: relative;
        top: 15px;
        margin-right: 154px;
        fill: #fff;
    }

    ul.list-group.list-group-striped li:nth-of-type(even) {
        background: #ccc000;
    }

    ul.list-group.list-group-hover li:hover {
        background: #ccc;
        color: black;
    }

    .test {
        border: solid 2px blue;
    }
</style>
<!-- heading -->
<div class="container-fluid  pl-5 pr-5 pt-0 pb-0 text-center">
        <h1 class="display-4">Where to find? </h1>
        <hr>
</div>

<!-- handbook -->
<!-- Nav tabs -->
<div class="container-fluid">
    <ul class="nav nav-tabs justify-content-center ">
        <li class="nav-item p-2">
            <a class="btn btn-info" data-toggle="tab" href="#home">Where to find?</a>
        </li>
        <li class="nav-item p-2">
            <a class="btn btn-info" data-toggle="tab" href="#menu1">What to do?</a>
        </li>
        <li class="nav-item p-2">
            <a class="btn-info btn" data-toggle="tab" href="#menu2">Useful numbers</a>
        </li>
        <li class="nav-item p-2">
            <a class="btn btn-info" data-toggle="tab" href="#menu2">Useful files</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active pt-2" id="home">
            <h1 class="text-center">Where to find?</h1>
            <hr>
            <div class="container-fluid mt-3">
                <div class="row p-3">
                    <div class="col-12 col-sm-6">
                        <h3 class="text-center list-group-item bg-dark text-light">Trolly Cupboards</h2>
                            <ul class="list-group text-center pb-3">
                                <li class="list-group-item">Next to room 3</li>
                                <li class="list-group-item">Opposite room 40</li>
                                <li class="list-group-item">Opposite room 49</li>
                                <li class="list-group-item">Next to room 102</li>
                                <li class="list-group-item">Opposite room 134</li>
                                <li class="list-group-item">Next to room 165</li>
                                <li class="list-group-item">Next to room 168</li>
                                <li class="list-group-item">Next to room 215</li>
                                <li class="list-group-item">Opposite room 225</li>
                            </ul>
                            <h6 class="text-center list-group-item bg-light border-warning">
                                Trollies hold a minimal amount of linen, most linen is kept in linen room or cupboard next to room 162
                        </h3>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h3 class="text-center list-group-item bg-dark text-light">Pillows</h2>
                            <ul class="list-group text-center pb-3">
                                <li class="list-group-item">Cupboard by room 174</li>
                                <li class="list-group-item">Mezzanie Floor (safe room)</li>
                                <li class="list-group-item">Linen Room</li>
                            </ul>

                            <h3 class="text-center list-group-item bg-dark text-light">Extra beds/cots/fans</h2>
                                <ul class="list-group text-center pb-3">
                                    <li class="list-group-item">Cupboard by room 174</li>
                                    <li class="list-group-item">Mezzanie Floor (safe room)</li>
                                    <li class="list-group-item">Linen Room</li>
                                </ul>
                                <h3 class="text-center list-group-item bg-dark text-light">Duvets</h2>
                                    <ul class="list-group text-center pb-3">
                                        <li class="list-group-item">Cupboard by room 174</li>
                                        <li class="list-group-item">Mezzanie Floor (safe room)</li>
                                        <li class="list-group-item">Linen Room</li>
                                        <li class="list-group-item">Cupboard by room 57</li>
                                    </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="text-center">Making an extra bed
                            <br>
                            <small>To make an extra bed in a room, you will need the following</small>
                        </h2>
                        <ul class="list-group pb-4">
                            <li class="list-group-item">2 x Single Sheets</li>
                            <li class="list-group-item">1 x Brown Blanket / duvet (and cover)</li>
                            <li class="list-group-item">1 x Pillow (and case)</li>
                            <li class="list-group-item">1 x Hand towel</li>
                            <li class="list-group-item">1 x Bath towel</li>
                            <li class="list-group-item">1 x Soap, shower gel and shampoo.</li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6">

                        <h2 class="text-center">Sheets
                            <br>
                            <small>All sheets are in the linen room.</small>
                        </h2>
                        <ul class="list-group text-center font-weight-bold pb-4">
                            <li class="list-group-item bg-warning">King : Yellow</li>
                            <li class="list-group-item bg-danger">Double : Red</li>
                            <li class="list-group-item bg-info">Single: Blue</li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h2 class="text-center">Duvet Covers
                            <br>
                            <small>All duvet covers are in the linen room.</small>
                        </h2>
                        <ul class="list-group text-center font-weight-bold">
                            <li class="list-group-item bg-success">King : Green</li>
                            <li class="list-group-item bg-warning">Double : Yellow</li>
                            <li class="list-group-item bg-info">Single: Blue</li>
                        </ul>
                    </div>
                </div>

            </div>




        </div>
        <div class="tab-pane container fade" id="menu1">What to do</div>
    <div class="tab-pane container fade" id="menu2">Useful numbers</div>
    </div>
    


</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myDIV *").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script> {% endblock %}