{% extends "layout.html" %}
{% block content%}

<div class="page-header">
    <h1 class="page-title">
        Homepage
    </h1>

</div>
<!-- <div class="alert alert-primary text-center" role="alert">
        <i class="fe fe-info"></i> This is a  way of setting an "announcement".
      </div> -->
<div class="card">
    <div class="card-status card-status-left bg-blue"></div>
    <div class="card-body p-3 "><i class="fe fe-info mr-3"></i>These figures are completely made up.</div>

</div>
<div class="row">
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-5 text-center">
                <div class="h1 m-0 mt-4">178</div>
                <div class="text-muted mb-4">Rooms Sold</div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-5 text-center">
                <div class="h1 m-0 mt-4">318</div>
                <div class="text-muted mb-4">Sleepers</div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-5 text-center">
                <div class="h1 m-0 mt-4">88%</div>
                <div class="text-muted mb-4">Occupancy</div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-5 text-center">
                <div class="h1 m-0 mt-4">£190</div>
                <div class="text-muted mb-4">Best Available Rate</div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-5 text-center">
                <div class="h1 m-0 mt-4">147</div>
                <div class="text-muted mb-4">Arrivals</div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-4 col-lg-2">
        <div class="card">
            <div class="card-body p-5 text-center">
                <div class="h1 m-0 mt-4">59</div>
                <div class="text-muted mb-4">Departures</div>
            </div>
        </div>
    </div>
</div>
<div class="row row-cards">
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Duty Managers</div>
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-4"><i class="fe fe-sun"></i>
                        <h4>Early </h1>Sean
                    </div>
                    <div class="col-4"><i class="fe fe-clock"></i>
                        <h4>Late </h4> Sean
                    </div>
                    <div class="col-4"><i class="fe fe-moon"></i>
                        <h4>Night </h4> Sean
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Question of the day!</div>
            </div>
            <div class="card-body">
                Random question here?
                <a data-toggle="collapse" href="#QuestionAnswer" aria-expanded="false" aria-controls="QuestionAnswer"
                    class="float-right">Reveal answer</a>
            </div>
            <div id="QuestionAnswer" class="card-footer collapse">Random answer here</div>
        </div>
    </div>
</div>
<div class="row row-cards">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Meetings and Events</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Room</th>
                                <th scope="col">Organiser</th>
                                <th scope="col">PAX</th>
                                <th scope="col">Start</th>
                                <th scope="col">Finish</th>
                                <th scope="col">Lunch</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Internal</td>
                                <td>Victoria</td>
                                <td>Sean Thorne</td>
                                <td>10</td>
                                <td>10:00</td>
                                <td>16:00</td>
                                <td>12:00</td>
                            </tr>
                            <tr>
                                <td>Internal</td>
                                <td>Victoria</td>
                                <td>Sean Thorne</td>
                                <td>10</td>
                                <td>10:00</td>
                                <td>16:00</td>
                                <td>12:00</td>
                            </tr>
                            <tr>
                                <td>Internal</td>
                                <td>Victoria</td>
                                <td>Sean Thorne</td>
                                <td>10</td>
                                <td>10:00</td>
                                <td>16:00</td>
                                <td>12:00</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Memorable Arrivals</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Guest Name</th>
                                <th scope="col">Guest Notes</th>
                                <th scope="col">VIP #</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark Gruffalo</td>
                                <td>Previous complaint, ref: Sean</td>
                                <td>VIP13</td>
                            </tr>
                            <tr>
                                <td>Mark Gruffalo</td>
                                <td>Previous complaint, ref: Sean</td>
                                <td>VIP13</td>
                            </tr>
                            <tr>
                                <td>Mark Gruffalo</td>
                                <td>Previous complaint, ref: Sean</td>
                                <td>VIP13</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}