{% extends "layout.html" %} {% block content%}
<div class="container-fluid bg-dark p-5" style="height: 100vh;">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-4 text-center">
            <h1 class="display-3 pb-4 text-center text-light pt-4">Password recovery</h1>
            <div class="text-center">
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="alert alert-danger text-center" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                <a href="{{url_for('home')}}" class="btn btn-secondary btn-lg btn-block mx-auto">Login</a>
                </form>

            </div>
        </div>
        <div class="col"></div>
    </div>
   
</div>
</div>
{% endblock %}