<!DOCTYPE html>
<html lang="en">
{% set active_page = active_page|default('index') %}

<head>
    {% include 'meta.html' %}
</head>

<body>
    <div class="page ">
        <div class="page-main">
            <div class="header py-4 ">
                <div class="container ">
                    <div class="d-flex ">
                        <a class="header-brand text-uppercase " href="{{url_for('index.home')}}">
                            tortworth portal
                        </a>
                        <div class="d-flex order-lg-2 ml-auto ">
                            <div class="dropdown d-flex">
                                <a class="nav-link icon pr-0" data-toggle="dropdown">
                                    <i class="fe fe-user h2 m-0 "></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
                                    <a href="#" class="dropdown-item d-flex">
                                        <div>
                                            <div class=" text-muted">My Profile</div>
                                        </div>
                                    </a>
                                    <a href="{{url_for('user.logout')}}" class="dropdown-item d-flex">
                                        <div>
                                            <div class="text-muted">
                                                Logout
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <a href="#" class="nav-link pl-0 leading-none d-none d-md-flex " data-toggle="dropdown">
                                    <span class="ml-2">
                                        <span class="text-default">{{current_user.nickname}}</span>
                                        <small class="text-muted d-block mt-1">{{current_user.job_title}}</small>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                            <span class="header-toggler-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header collapse d-lg-flex p-0 " id="headerMenuCollapse">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 ml-auto">
                            <form action="{{ url_for('room.search') }}" method="post" class="input-icon my-3 my-lg-0">
                                <input name="Room" id="room" type="search" class="form-control header-search"
                                    placeholder="Room Search&hellip;" tabindex="1">
                                <div class="input-icon-addon">
                                    <i class="fe fe-search"></i>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg order-lg-first">
                            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                                <li class="nav-item">
                                    <a href="{{url_for('index.home')}}" class="nav-link {{ 'active' if active_page == 'index' else '' }}"><i
                                            class="fe fe-home"></i>
                                        Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{url_for('room.search')}}" class="nav-link {{ 'active' if active_page == 'search' else '' }}"><i
                                            class="fe fe-box"></i>
                                        Room Search</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a id="log" href="javascript:void(0)" class="nav-link {{ 'active' if active_page == 'log' else '' }}"
                                        data-toggle="dropdown"><i class="fe fe-calendar"></i>
                                        Guest Log</a>
                                    <div class="dropdown-menu dropdown-menu-arrow">
                                        <a href="{{url_for('log.index')}}" class="dropdown-item ">Today's log</a>
                                        <a href="{{url_for('log.yesterdays_log')}}" class="dropdown-item ">Yesterday's
                                            Log</a>
                                        <a href="{{url_for('log.create', date=date)}}" class="dropdown-item ">Create
                                            Entry Today</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0)" class="nav-link {{ 'active' if active_page == 'information' else '' }}"
                                        data-toggle="dropdown"><i class="fe fe-file"></i>
                                        Information</a>
                                    <div class="dropdown-menu dropdown-menu-arrow">
                                        <a href="./profile.html" class="dropdown-item ">Profile</a>
                                    </div>
                                </li>
                                {% if current_user.admin %}
                                <li class="nav-item dropdown">
                                    <a href="{{url_for('admin.index')}}" class="nav-link {{ 'active' if active_page == 'admin' else '' }}"><i
                                            class="fe fe-users"></i>
                                        Admin</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    {%block content%}
                    {%endblock%}
                </div>

            </div>
        </div>
        <footer class="footer">

            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-12 col-lg-auto mt-lg-0 text-center">
                        Made with <i class="fe fe-heart"></i> by Sean
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })</script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.js"></script>
    <script>
        $(document).on("click", '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });</script>
</body>

</html>